.list-container {
	margin-top: 150px;
}

.alerts-wrapper {
	margin-top: 40px;
}

.todo-item-title {
	font-size: 14pt;
	color: #333;
	display: inline-block;
	margin-top: 3px;
}
.todo-item-id {
	color: #BDBDBD;
	margin-right: 10px;
}

.material-icons {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.list-buttons {
	padding-right: 35px;
	margin-bottom: 20px;
}
.list-buttons i {
	font-size: 36px;
}

.todo-item-buttons-done i, .todo-done-all-button {
	font-size: 36px;
	color: #009688;
}
.todo-item-buttons-done:hover, .todo-done-all-button:hover {
	cursor: pointer;
	color: #00796b;
}

.todo-item-buttons-clear i, .todo-clear-all-button {
	font-size: 36px;
	color: #f44336;
}
.todo-item-buttons-clear:hover, .todo-clear-all-button:hover {
	cursor: pointer;
	color: #c62828;
}

.todo-add-task-container {
	margin-top: 20px;
}
.todo-add-task-container input {
	border: 1px solid #f1f1f1;
	outline: none;
}
input[type="text"]:focus, textarea, button {
	outline: none;
	box-shadow:none !important;
}

.add-task-button i{
	display: block;
}
.add-task-button {
	background: #009688;
	border: 0;
}
.add-task-button:hover {
	background: #00796b;
}
.add-task-button:active {
	background: #00796b;
}

.done-tasks-container {
	margin-top: 40px;
}

.todo-item.done span{
	color: #757575;
}
